html,body{
    margin:0;
    overflow-x:hidden;
    
}

footer{
 background-color: yellow;
}

main{
 background-color: blue;

}

main:first-child{
    background-color: brown;
}

main:last-child{
    background-color: rgb(103, 27, 27);
}

header{
    height:63px;
    background-color: blueviolet;
}