html{
    margin:0;

}
body{
    margin:0;
}

* a{
 text-decoration: none;
}

footer{
background-color: rgb(27, 73, 137);
width:100%;

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

}

main{
    background-color: rgb(27, 88, 174);
    height:auto;
}

header{
    height:63px;
    z-index: 15;
    position: sticky;
    top:0;
}

header section:nth-child(2) section{
    margin-left: 40px;
}


.header-area{
    display:flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    background-color: rgb(27, 73, 137);
    

    padding:10px;
}

.products{
    background: rgb(36, 65, 106);
    display: flex;
    height:380px;
    box-shadow: 0px 10px 30px -5px rgb(52, 57, 52);
    padding:50px 100px;
    justify-content: space-between;

}

.products div a:visited{
 color:whitesmoke;
}

.products div a{
 color:whitesmoke;
}


.new-product img{
    z-index: 5;
    width:auto;
    height:80vw;
    position: relative;
    transform: scaleX(-1);

}

.new-product div{
    z-index:10; 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-product div button{
    border-radius: 30px;
    border:none;
    background-color: blue;
    width:130px;
    height:50px;
    font-size: 20px;
    cursor:pointer;
}
.new-product{
    overflow: hidden;
    height:700px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: blueviolet;
}



.other-product{
    /* Below are surrounding positions*/
    padding:30px;
    display:grid;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    grid-template-rows: 480px 480px 480px ;
    grid-template-columns: repeat(3,1fr) ;
    /*Below are internal psoitions*/

}

.other-product div:nth-child(4){
    grid-column: span 2;
    background-image: url('photos/pexels-fmaderebner-869258.jpg'); 
    background-size: cover;
    isolation:isolate;
}
.other-product div:nth-child(4)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;

}
.other-product div:nth-child(1){
    background-image: url('photos/pexels-charlie-solorzano-614781-1762815.jpg'); 
    background-size: cover;
    isolation: isolate;

}
.other-product div:nth-child(1)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.other-product div:nth-child(2){
    background-image: url('photos/pexels-packermann-878151.jpg'); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center ;
    isolation: isolate;

}
.other-product div:nth-child(2)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.other-product div:nth-child(3){
    background-image: url('photos/pexels-yigithan02-1108528.jpg'); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center ;
    isolation: isolate;
}
.other-product div:nth-child(3)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.other-product div:nth-child(5){
    background-image: url('photos/pexels-minan1398-853168.jpg'); 
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    isolation: isolate;
}
.other-product div:nth-child(5)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.other-product div:nth-child(6){
    background-image: url('photos/pexels-nathan-moore-1300563-2603681.jpg'); 
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-color: black;
    isolation: isolate;
    
}
.other-product div:nth-child(6)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.other-product div:nth-child(7){
    background-image: url('photos/pexels-1585669-3077882.jpg'); 
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-color: black;
    isolation: isolate;
    
}
.other-product div:nth-child(7)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}
.other-product div:nth-child(8){
    background-image: url('photos/pexels-keegan-houser-557040-1478685.jpg'); 
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-color: black;
    isolation: isolate;
}
.other-product div:nth-child(8)::before{
    content:"";
    background: black ;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}


.other-product div{
    background-color: black;
    border-radius: 30px;
    padding:30px;
    overflow:hidden;
    flex:1;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
    
}

.other-product div h1{
    color: whitesmoke;
    
}


.services{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;

}

.features section{
    display:flex;
    justify-content: center;
}

.viewsection{
    display: none;
}

.arrow.dropdown{
    transform: rotateZ(0deg);
}


.arrow{
    width:15px; 
    height:15px; 
    transform:rotateZ(180deg); 
    transition:transform 0.25s ease;
    
}


.footer-section p{
    font-size:0.85rem;
    color:whitesmoke;

}

.footer-section p a:visited{
    color:whitesmoke;

}

.footer-section p a{
    color:whitesmoke;

}

.footer-info p a:visited{
    color:whitesmoke;
}

.footer-info p a{
    color:whitesmoke;
}

.credits a:visited{
    color:whitesmoke;

}

.credits a{
    color:whitesmoke;
}

.event{
    background-image: url("photos/pexels-ian-panelo-11220092.jpg");
    background-size: cover;
    background-position: center center;
    height:90%;
    width:100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}